<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="stylesheet" th:href="@{/css/app.css}" />
	<title>Countries of the World</title>
</head>
<body>
	<header>
		<div class="container">
			<h1><a href="/">Countries of the World</a></h1>
		</div>
	</header>
	<div class="container">
		<div th:each="country : ${countries}" class="country">
			    <a th:href="@{'/flags/'+${country.countryImageName}}">
			    <img th:src="@{'/flags/'+${country.countryImageName}+'.png'}" th:alt="@{${country.countryImageName}+'.png'}"/>
				<h4 th:text="${country.countryName}">India</h4>
			</a>
		</div>
	</div>
</body>
</html>